/* 页脚部分 */
footer {
    width: 100%;
    border-top: #ff6600 6px solid;
    font-family: 'SimHei';
    position: relative;
}

.footer-hero-background {
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
}

.footer-hero {
    width: 785px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 26px;

}

.footer-hero img {
    height: 50px;
}

/* TODO:高度与文字高度不匹配 */
.footer-content-area {
    margin: 36px auto 48px auto;
    display: flex;
    justify-content: space-between;
    width: 681px;
    height: 130px;
    position: relative;
}

.footer-contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.footer-contents span {
    height: 28px;
}

.footer-content-title {
    font-size: 18px;
}

.footer-content {
    font-size: 16px;
    color: #666666;
}

/* TODO:位置未完全对齐 */
.footer-icon {
    position: absolute;
    right: -220px;
    top: 25px;
}

.footer-about,
.footer-brand {
    width: 100%;
    height: auto;
    text-align: center;
    color: #333;
    font-size: 14px;
    margin: 0 auto;
}

.footer-brand {
    margin: 23px 0 106px 0;
}