/* 顶部搜索框 */
.top-search-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff6600;
    opacity: 0.9;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* 隐藏 */
    height: 0;
    /* 属性过渡效果 */
    transition: all 0.5s;
}

.top-logo {
    height: 23px;
    margin: 0 191px 0 29px;
}

.top-search {
    width: 550px;
    height: 36px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
}

.top-search input {
    width: 500px;
    height: 36px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    border: 2px solid #fa3905;
    box-sizing: border-box;
}

.top-search-btn {
    width: 50px;
    height: 36px;
}

/* 搜索部分 */
.search-area {
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin: 4px 0 24px 0;
}

.search-input {
    font-family: 'SimHei';
    width: 378px;
    height: 32px;
    border: 2px solid #ff6600;
    font-size: 16px;
    padding: 0 0 0 8px;
}

.search-btn {
    height: 36px;
    margin: 0;
}

.shopping-car-area {
    font-family: 'SimHei';
    height: 36px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 36px;
    padding: 0 10px;
    background-color: #ff6600;
}

.shopping-car-img {
    height: 20px;
}

.shopping-car {
    font-size: 14px;
    margin-left: 2px;
    color: #fff;
    padding: 0;
}

.order {
    font-family: 'SimHei';
    font-size: 15px;
    width: 100px;
    height: 36px;
    margin: 0 9px 0 0;
    color: #808080;
    border: 1px solid #ccc;
    background-color: #ebebeb;
    padding: 10px 18px 11px 19px;
    box-sizing: border-box;
    white-space: nowrap;
}

/* 导航栏部分 */
.nav-area {
    width: 1000px;
    height: 16px;
    padding-left: 200px;
    position: relative;
    margin-bottom: 4px;
    display: flex;
}

.logo {
    position: absolute;
    left: 0;
    top: -92px;
}

.nav-area .nav-item:nth-child(2) {
    margin-left: 20px;
}

.nav-item {
    font-family: 'SimHei';
    font-weight: bold;
    font-size: 16px;
    height: 16px;
    padding: 0 15px 0 16px;
    font-weight: #323232;
    margin: 0;
}

.nav-item:first-child {
    padding-left: 36px;
}